<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultipleEmailTextViewApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AF733F01CC7C7190022CAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF734091CC7C71A0022CAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF734141CC7C71A0022CAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
